# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Salaries.csv')

In [3]:
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [9]:
df['BasePay'].mean()

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [11]:
df['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [24]:
df_joseph = df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']
print(df_joseph)

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [26]:
benefits = df[df['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']
print(benefits)

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [35]:
df[df['TotalPayBenefits'] == df['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [36]:
df[df['TotalPayBenefits'] == df['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [42]:
df_tahun_20111_2014 = df[df['Year'].isin([2011, 2012, 2013, 2014])].groupby('Year')['BasePay'].mean()
print(df_tahun_20111_2014)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [50]:
df['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [57]:
top_five = df['JobTitle'].value_counts()
top_five.head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [65]:
df_one_person = df[df['Year']== 2013]['JobTitle'].value_counts()
sum1 = sum(df_one_person == 1)
print(sum1)
# OR sum(df[df['Year']==2013]['JobTitle'].value_counts() == 1)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [21]:
jumlah_chief = df['JobTitle'].str.contains('chief',case=False, na=False).sum()
print(jumlah_chief)

627

In [15]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [22]:
sum(df['JobTitle'].apply(lambda x: chief_string(x)))

477

In [20]:
df['JobTitle'].head(60)

0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                      CAPTAIN III (POLICE DEPARTMENT)
2                      CAPTAIN III (POLICE DEPARTMENT)
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5                            ASSISTANT DEPUTY CHIEF II
6                   BATTALION CHIEF, (FIRE DEPARTMENT)
7                       DEPUTY DIRECTOR OF INVESTMENTS
8                   BATTALION CHIEF, (FIRE DEPARTMENT)
9               CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
10    ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
11                     CAPTAIN III (POLICE DEPARTMENT)
12                         EXECUTIVE CONTRACT EMPLOYEE
13                                   DEPARTMENT HEAD V
14                  BATTALION CHIEF, (FIRE DEPARTMENT)
15                  COMMANDER III, (POLICE DEPARTMENT)
16                                   DEPARTMENT HEAD V
17               CAPTAIN, EMERGENCYCY MEDICAL SERVICES
18                  BATTALION CHIEF, (FIRE DEPARTMENT)
19                          ASSISTANT MEDICAL EXAMINER
20                          ASSISTANT MEDICAL EXAMINER
21                          ASSISTANT MEDICAL EXAMINER
22                           CAPTAIN, FIRE SUPPRESSION
23                  BATTALION CHIEF, (FIRE DEPARTMENT)
24                           CAPTAIN, FIRE SUPPRESSION
25                                     CHIEF OF POLICE
26                           CAPTAIN, FIRE SUPPRESSION
27                  BATTALION CHIEF, (FIRE DEPARTMENT)
28                DEPUTY CHIEF III (POLICE DEPARTMENT)
29        DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
30                         EXECUTIVE CONTRACT EMPLOYEE
31                DEPUTY CHIEF III (POLICE DEPARTMENT)
32                                   DEPARTMENT HEAD V
33                  INSPECTOR III, (POLICE DEPARTMENT)
34                  BATTALION CHIEF, (FIRE DEPARTMENT)
35                   ELECTRONIC MAINTENANCE TECHNICIAN
36                  ADMINISTRATOR, SFGH MEDICAL CENTER
37                  INSPECTOR III, (POLICE DEPARTMENT)
38                  LIEUTENANT III (POLICE DEPARTMENT)
39                  BATTALION CHIEF, (FIRE DEPARTMENT)
40                  BATTALION CHIEF, (FIRE DEPARTMENT)
41                  BATTALION CHIEF, (FIRE DEPARTMENT)
42        DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
43                                         FIREFIGHTER
44                      NURSING SUPERVISOR PSYCHIATRIC
45                                               MAYOR
46                  BATTALION CHIEF, (FIRE DEPARTMENT)
47                                   DEPARTMENT HEAD V
48                DEPUTY CHIEF III (POLICE DEPARTMENT)
49                         LIEUTENANT, FIRE DEPARTMENT
50                  BATTALION CHIEF, (FIRE DEPARTMENT)
51                                   DEPARTMENT HEAD V
52                           CAPTAIN, FIRE SUPPRESSION
53                           CAPTAIN, FIRE SUPPRESSION
54               CAPTAIN, EMERGENCYCY MEDICAL SERVICES
55                DEPUTY CHIEF III (POLICE DEPARTMENT)
56                                   DEPARTMENT HEAD V
57                           ASSISTANT DEPUTY CHIEF II
58                         INCIDENT SUPPORT SPECIALIST
59                                         ANESTHETIST
Name: JobTitle, dtype: object

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [68]:
df['title_len'] = df ['JobTitle'].apply(len)
korelasi = df[['title_len','TotalPayBenefits']]
korelasi_matrix = korelasi.corr()
print(korelasi_matrix)

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!